@model ListImportModel

<div class="form-group row">
    <form asp-action="File" class="text-left form-validate" enctype="multipart/form-data">
        <div class="form-group col-sm-12">
            <div class="file-select-button" id="fileName">Upload Excel File</div>
            <i class="bi-folder2-open"></i>
            <input asp-for="XlsFile" type="file" id="chooseFile">
            <!-- Example split danger button -->
            <div class="btn-group">
                <div class="input-group date">
                    <select class="form-control" asp-for="Id" asp-items="@(new SelectList(ViewBag.data,"Id","GroupName"))"></select>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <button type="submit" class="btn btn-primary">Read Excel File</button>
        </div>
    </form>
</div>


