@model ListImportModel

@section Styles
{
    <link rel="stylesheet" href="/DataImporter/plugins/datatables-bs4/css/dataTables.bootstrap4.css">

}

<!-- Navbar -->
<nav class="main-sidebar-custom navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <partial name="Partial/_LeftNavbarPartial" />

    <!-- Left navbar links -->
    <!-- Right navbar links -->
    <ul id="input-b9" class="navbar-nav ml-auto">
        <li class="nav-item d-none d-sm-inline-block">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="ion ion-upload"></i>
                Upload
            </button>

        </li>
    </ul>
    <!-- Right navbar links -->

</nav>
<!-- /.navbar -->


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Available Courses</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Courses</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">All Available Courses</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="importData" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>GroupName</th>
                                <th>ExcelFileName</th>
                                <th>ImportDate</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>GroupName</th>
                                <th>ExcelFileName</th>
                                <th>ImportDate</th>
                            </tr>
                        </tfoot>
                    </table>
                    <partial name="Partial/_DeletePopupPartial" />
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<!-- /.content -->
@section Scripts
{
    <!-- DataTables  & Plugins -->
    <script src="/DataImporter/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/DataImporter/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/DataImporter/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/DataImporter/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/DataImporter/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/DataImporter/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/DataImporter/plugins/jszip/jszip.min.js"></script>
    <script src="/DataImporter/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/DataImporter/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/DataImporter/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/DataImporter/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/DataImporter/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>

        $(function () {
            $("#importData").DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "ajax": "/Import/GetImportsData"
                    
                }
            );
        });
            //Date picker
    </script>

}

