@model UploadModel
@using System.Data;
@section Styles{
    <link rel="stylesheet" href="/DataImporter/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
}

<nav class="main-sidebar-custom navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <partial name="Partial/_LeftNavbarPartial" />
    <!-- Left navbar links -->
</nav>
<!-- /.navbar -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Import File</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Import</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
       
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<section>
    <div class="card-body">
        @if (Model != null)
        {
            var hd = false;
            <table border="1" cellpadding="5" cellspacing="20">
                <thead>
                    <tr>
                        @foreach (var row in Model.RowData)
                        {
                            @foreach (var column in row.ColumnData)
                            {
                                <th>@Html.DisplayFor(model => column)</th>
                            }
                            break;
                        }
                    </tr>
                </thead>
                <tbody>

                    @foreach (var row in Model.RowData)
                    {

                        if (hd == false)
                        {
                            hd = true;
                            continue;
                        }
                        <tr>
                            @foreach (var column in row.ColumnData)
                            {
                                <td>@Html.DisplayFor(model => column)</td>
                            }
                        </tr>
                    }

                </tbody>
            </table>
        }

    </div>
    </section>

@section Scripts{
    <script src="/DataImporter/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/DataImporter/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(function () {
            $("#Import").DataTable();
        });
    </script>
}