<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
       

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/Customer/Group" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Groups
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Customer/CustomFields" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Custom Fields
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Customer/Contacts" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Contacts
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Customer/ImportData" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Imports
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Customer/Exports" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Exports
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>