@model EditGroupModel
   <!-- Modal -->
<div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="card-header">
            </div>
            <!--Body-->
            <form class="form-horizontal" asp-action="EditGroup" asp-controller="Customer" method="post" asp-antiforgery="true">
                <div class="modal-body text-center mb-1">
                    <h5 class="mt-1 mb-2">Edit Group</h5>
                    <div class="md-form ml-0 mr-0">
                        <div class="col-md-12">
                            <input asp-for="Name" type="text" class="form-control" id="inputName" placeholder="Name">
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button asp-action="EditGroup" asp-controller="Customer" type="submit" class="btn btn-info">Update</button>

                    </div>
                </div>
            </form>

        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login with Avatar Form-->