@model SampleView
@{



}

@section Styles
{
    <style>
        h1 {
            color: rebeccapurple
        }
    </style>
}


<h1>@Model.Name</h1>

@section Scripts
{
    <script type="text/javascript">
        alert("Hello!")
    </script>
}



