
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model SelectList
@{
    Layout = null;
}

<nav class="main-sidebar-custom navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <partial name="Partial/_LeftNavbarPartial" />
    <!-- Left navbar links -->
</nav>
@section Styles
{
    <!-- daterange picker -->
    <link rel="stylesheet" href="/DataImporter/plugins/daterangepicker/daterangepicker.css">
}


<form method="post" asp-controller="Group" asp-action="Index">
    <select id="ddlCustomers" name="Id" asp-items="Model">
        <option value="0">--Select Customer--</option>
    </select>
    <input type="hidden" name="Name" />
    <br />
    <br />
    <input type="submit" value="Submit" />
</form>

@section Scripts
{
    <!-- date-range-picker -->
    <script src="/DataImporter/plugins/daterangepicker/daterangepicker.js"></script>

    <script>

        $(function () {
            $('#reservationdate1').datetimepicker({
                format: 'L'
            });

            $('#reservationdate2').datetimepicker({
                format: 'L'
            });
        });
        //Date picker

    </script>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $("body").on("change", "#ddlCustomers", function () {
            $("input[name=Name]").val($(this).find("option:selected").text());
        });
    </script>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message");
            });
        </script>
    }
}