@model SampleView
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>
<h2 style= "color:red">"This is layout 2"</h2>

<p>Use this page to detail your site's privacy policy.</p>
<h1>@Model.NewText</h1>
